body {
  margin: auto;
}

.title {
  text-align: center;
  font-size: 50px;
}

.create {
  margin: 25px;
}

input,
textarea {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #dee7ec;
}

button {
  background-color: rgb(60, 65, 87);
  color: white;
  padding: 10px;
  width: 200px;
  font-size: 15px;
  border: 1px solid #dee7ec;
  border-radius: 15px;
}

.playlist {
  height: 500px;
  margin: 25px;
}

.title-sub2 {
  border-bottom: 2px solid rgb(165, 161, 161);
  padding: 10px 0 10px 0;
}

.songs {
  height: 500px;
  text-align: center;
  padding: 10px;
}

.song {
  width: 25%;
  float: left;
  border: 2px solid rgb(102, 83, 83);
  border-radius: 10px;
  margin: 0 10px 0 10px;
  padding: 15px;
}

img {
  width: 300px;
  height: 300px;
}

.judul {
  font-size: 18px;
  padding-bottom: 5px;
}

.artist {
  font-size: 14px;
}

.album {
  font-size: 12px;
  padding-bottom: 5px;
}
